*{ 
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*Navbar style*/
body {
	padding: 0;
	margin-top: 120px;
}

nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	padding: 12px;
	height: 90px;
	background-color: #DFF6FF;
}
nav .logo {
	float: left;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
}
nav .navbar-nav {
	float: right;
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

nav .navbar-nav a {
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: #051367;
	text-decoration: none;
	padding: 15px;
	margin: 5px;
}

nav .navbar-nav a:hover{
	background-color: #5D8BF4;
	border-radius: 5px;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #051367;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

.btn{
	background-color: #5D8BF4;
	border-radius: 12px;
}

@media screen and (max-width: 768px) {
  nav .logo {
	  float: none;
	  width: auto;
	  justify-content: center;
  }
  nav .navbar-nav {
	  float: none;
	  position: fixed;
	  z-index: 9;
	  left: 0;
	  right: 0;
	  top: 100px;
	  bottom: 100%;
	  width: auto;
	  height: auto;
	  flex-direction: column;
	  justify-content: space-evenly;
	  background-color: #DFF6FF;
	  overflow: hidden;
	  box-sizing: border-box;
	  transition: all .5s ease-in-out;
  }
  nav .navbar-nav a {
	  font-size: 20px;
	  color: black;
  }
  nav :checked ~ .navbar-nav {
	  bottom: 0;
  }
  nav .icon-burger {
	  display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
	  transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
	  transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
	  opacity: 0;
  }
  
}

@media (max-width: 1030px) {
	.container-fluid{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height:auto;
	}
  }

@media (max-width: 1030px) {
    .collapse{
        text-align: center;
        width: 100%;
    }
  } 

/*Card-project style*/
  .container-fluid{
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1{
	text-align: center;
	font-weight: bolder;
	margin: auto;
}

h5{
	font-weight: bolder;
}

.card-project{
	margin: 20px;
	border-radius: 1rem;
	background-color: #DFF6FF;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	height: 350px;
    width: 480px;
    justify-content: center;
	display:inline-flex;
	flex-direction: column;
}

.card-body{
	text-align: center;
}

.card-img-top{
	margin-top:10px;
	width:100px;
	height: 100px;	
	justify-items: center;
}

.img-fluid{
	width: 25%;
	height: 25%;
}


/*card*/
.card {
    position: relative;
    width: 400px;
    height: 450px;
    margin: 20px;

}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 25px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
	font-size: medium;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: #DFF6FF;
    padding: 10px;
    color: #051367;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #051367;
    height: 50px;
    line-height: 25px;
}

.card .back .link a {
    color: #051367;
}

.card .back h3 {
    font-size: 10px;
    margin-top: 20px;
}


.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

@media screen and (max-width: 350px) {
	.card .card-project{
		width: auto;
		height: auto;
		text-align: center;
		justify-content: center;
		display:inline-flex;
		flex-direction: column;
	}

	h1{
		text-align: center;
	}
	
}














