/*Navbar style*/
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	padding: 12px;
	height: 90px;
	background-color: #DFF6FF;
}
nav .logo {
	float: left;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
}
nav .navbar-nav {
	float: right;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

nav .navbar-nav a {
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: #051367;
	text-decoration: none;
	padding: 15px;
	margin: 5px;
}

nav .navbar-nav a:hover{
	background-color: #5D8BF4;
	border-radius: 5px;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #051367;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}


/*media queries (para que se coloquen un columna al hacerlo como telefono)*/

@media (max-width: 1030px) {
	.container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height:auto;
	}
  }

  @media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .navbar-nav {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: #DFF6FF;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .navbar-nav a {
		font-size: 20px;
		color: black;
	}
	nav :checked ~ .navbar-nav {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}

/*Body*/
body{
    background-color: white;
	font-family: Arial, Helvetica, sans-serif;	
	margin-top: 125px;
}

h1{
	text-align: center;
	margin: 30px;
}

/*Card style*/

.background1-left-column{
	background:#5D8BF4;
}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	border: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.photo{
	width: 140px;
	height: 140px;
	margin-top: 8px;
}

.container{
	display: flex;
	justify-content: center;
    align-items: center;

}

.card {
	background-color:var(--white-text);
	border-radius: 1rem;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	display: flex;	
	margin: 1.5rem;
	overflow: hidden;
	width: 30rem;
	height: 19rem;
}

@media screen and (max-width: 768px) {
	.card{
		width: auto;
		height: auto;
	}
}



.card h6 {	
	letter-spacing: .1rem;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.568);
}

.card  h2 {
	letter-spacing: .1rem;
	margin: 1rem 0;
	color: var(black-text);
}

.left-column {	
	color: white;
	padding: 2rem;
	max-width: 10rem;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
	text-align: center;
}


.right-column {
	padding: 30px;
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
	background-color: #DFF6FF;
	
}

.right-column p{	
	font-size: .9rem;

}

.button {
	border-radius: 3rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	font-size: 1.2rem;
	padding: .8rem 1.5rem;
	letter-spacing: .1rem;
	align-self: flex-start;
	color: aliceblue;
}

.btn{
	background-color: #5D8BF4;
	border-radius: 12px;
}

/*Aviso*/


.btn-abrir{
    background: #0063a5;
    color:#fff;
    padding: 10px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

/* VENTANA MODAL */

.pop-up{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.pop-up-wrap{
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 950px;
    transform: scale(0.6);
    opacity: 0;
    transition: .3s ease all;
}

.pop-up-title{
    flex-basis: 0;
    flex-grow:1.5;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('Embajadores1.png');
    background-size: 165%;
    background-position: center;
    background-repeat: no-repeat;
}

.pop-up-title::after{
    content: '';
    position: absolute;
    background: rgba(228, 63, 90, 0.75);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pop-up-title::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.subcription::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.pop-up-title h2,
.pop-up-title p{
    z-index: 10;
    color: #fff;
}

.pop-up-title h2{
    font-family: 'Chiller';
    font-size: 80px;
}


.pop-up-title p{
    font-size: 20px;
    font-weight: 300;
}

.subcription{
    background: #fff;
    flex-basis: 0;
    flex-grow: 2;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
}

.sub-content{
    width: 75%;
}

.sub-content h2{
    font-weight: 500;
    font-size: 40px;
    color: #1F4068;
    margin-bottom: 15px;
}

.sub-content p{
    font-weight: 500;
    color: #1bc59b;
    margin-bottom: 30px;
}

.subs-email{
    width: 100%;
    padding: 15px;
    border: none;
    background: #ccc;
    margin-bottom: 15px;
}


.Boton{
    background-color: #5D8BF4;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
  }
  

.Boton:hover{
    background: #dff6ff;
    color: black;
}

.line{
    width: 100%;
    height: 20px;
    background: #1F4068;
}

#close{
    position: absolute;
    top: 40px;
    right: 25px;
    font-size: 25px;
    color: #1bc59b;
    cursor: pointer;
}

.pop-up.show{
    visibility: visible;
}

.pop-up-wrap.show{
    transform: scale(1);
    opacity: 1;
}

@media only screen and (max-width: 980px){
    .pop-up-title{
        display: none;
    }

}

@media only screen and (max-width: 320px){
    .sub-content h2{
        font-size: 30px;
    }
}

@media screen and (min-width: 330px){
	.pop-up{
		margin-top: 90px;
	}
	
}